@model ContactApp.Models.Contact

<h2>Edit Contact</h2>

<form method="post">
    <input type="hidden" asp-for=id" />

    <label>Name</label>
    <input asp-for="name" />

    <label>Phone</label>
    <input asp-for="phoneNumber" />

    <button type="submit">Save</button>
</form>
